@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroud {
  /* background-image: radial-gradient(#ff0062 2.5px, transparent 2.5px), radial-gradient(rgba(0, 128, 0, 0.3) 2.5px, transparent 2.5px);
  background-size: 36px 36px;
  background-position: 0 0, 18px 18px;
  background-color: #b7cbe8; */
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='black' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat;
    border: 1px solid black;
  
}

.spinner {
  margin : 40px;
  width: 11.2px;
  height: 11.2px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 #fff, 17.4px 21.8px 0 0 #fff, -6.2px 27.2px 0 0 #fff, -25.2px ;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}